In [154]:
# Importamos la data necesaria para el proceso
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [155]:
# Importamos las primeras 1000000 lineas de 2000.csv
vuelos_2005 = pd.read_csv('2003.csv', nrows=100000)

In [156]:
vuelos_2005.head()

,Year,Month,DayofMonth,DayOfWeek,UniqueCarrier,Origin,CRSDepTime,DepTime,DepDelay,Dest,...,ArrDelay,CRSElapsedTime,Distance,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2003,1,29,3,UA,ORD,1655,1651.0,-4.0,MSY,...,-1.0,138,837,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,1,30,4,UA,ORD,1655,1654.0,-1.0,MSY,...,-3.0,138,837,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,1,31,5,UA,ORD,1655,1724.0,29.0,MSY,...,23.0,138,837,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,1,1,3,UA,OAK,1035,1033.0,-2.0,ORD,...,-9.0,239,1835,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,1,2,4,UA,OAK,1035,1053.0,18.0,ORD,...,52.0,239,1835,0,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# CAMBIANDO LOS NOMBRES DE TODAS LAS COLUMNAS

# cambiar nombre de la columna 'Year' a 'Año'
vuelos_2005.rename(columns={'Year':'Anio'}, inplace=True)

# cambiar nombre de la columna 'Month' a 'Mes'
vuelos_2005.rename(columns={'Month':'Mes'}, inplace=True)

# cambiar nombre de la columna 'DayofMonth' a 'Dia'
vuelos_2005.rename(columns={'DayofMonth':'Dia'}, inplace=True)

# cambiar nombre de la columna 'DayOfWeek' a 'Dia de la semana'
vuelos_2005.rename(columns={'DayOfWeek':'Dia_Sem'}, inplace=True)

# cambiar nombre de la columna 'UniqueCarrier' a 'Aerolinea'
vuelos_2005.rename(columns={'UniqueCarrier':'ID_Aerolinea'}, inplace=True)

# cambiar nombre de la columna 'Origin' a 'ID_Aeropuerto_O'
vuelos_2005.rename(columns={'Origin':'ID_Aeropuerto_O'}, inplace=True)

# cambiar nombre de la columna 'Dest' a 'ID_Aeropuerto_D'
vuelos_2005.rename(columns={'Dest':'ID_Aeropuerto_D'}, inplace=True)

# cambiar nombre de la columna 'DepTime' a 'Hora_SalidaR'
vuelos_2005.rename(columns={'DepTime':'Hora_SalidaR'}, inplace=True)

# cambiar nombre de la columna 'CRSDepTime' a 'Hora_SalidaP'
vuelos_2005.rename(columns={'CRSDepTime':'Hora_SalidaP'}, inplace=True)

# cambiar nombre de la columna 'ArrTime' a 'Hora_LlegadaR'
vuelos_2005.rename(columns={'ArrTime':'Hora_LlegadaR'}, inplace=True)

# cambiar nombre de la columna 'CRSArrTime' a 'Hora_LlegadaP'
vuelos_2005.rename(columns={'CRSArrTime':'Hora_LlegadaP'}, inplace=True)

# cambiar nombre de la columna 'CRSElapsedTime' a 'Duracion_Promedio'
vuelos_2005.rename(columns={'CRSElapsedTime':'Duracion_Promedio'}, inplace=True)

# cambiar nombre de la columna 'ArrDelay' a 'Retraso_Llegada'
vuelos_2005.rename(columns={'ArrDelay':'Retraso_Llegada'}, inplace=True)

# cambiar nombre de la columna 'DepDelay' a 'Retraso_Salida'
vuelos_2005.rename(columns={'DepDelay':'Retraso_Salida'}, inplace=True)

# cambiar nombre de la columna 'Distance' a 'Distancia'
vuelos_2005.rename(columns={'Distance':'Distancia'}, inplace=True)

# cambiar nombre de la columna 'Cancelled' a 'Cancelado'
vuelos_2005.rename(columns={'Cancelled':'Cancelado'}, inplace=True)

# cambiar nombre de la columna 'CancellationCode' a 'Codigo_Cancelacion'
vuelos_2005.rename(columns={'CancellationCode':'Codigo_Cancelacion'}, inplace=True)

# cambiar nombre de la columna 'CarrierDelay' a 'Retraso_Aerolinea'
vuelos_2005.rename(columns={'CarrierDelay':'Retraso_Aerolinea'}, inplace=True)

# cambiar nombre de la columna 'WeatherDelay' a 'Retraso_Clima'
vuelos_2005.rename(columns={'WeatherDelay':'Retraso_Clima'}, inplace=True)

# cambiar nombre de la columna 'NASDelay' a 'Retraso_NAS'
vuelos_2005.rename(columns={'NASDelay':'Retraso_NAS'}, inplace=True)

# cambiar nombre de la columna 'SecurityDelay' a 'Retraso_Seguridad'
vuelos_2005.rename(columns={'SecurityDelay':'Retraso_Seguridad'}, inplace=True)

# cambiar nombre de la columna 'LateAircraftDelay' a 'Retraso_Aeronave'
vuelos_2005.rename(columns={'LateAircraftDelay':'Retraso_Aeronave'}, inplace=True)

# Reordenamos las columnas

vuelos_2005 = vuelos_2005[['Anio', 'Mes', 'Dia', 'Dia_Sem', 'ID_Aerolinea', 'ID_Aeropuerto_O', 'ID_Aeropuerto_D', 
'Hora_SalidaR', 'Hora_SalidaP', 'Hora_LlegadaR', 'Hora_LlegadaP', 'Duracion_Promedio', 'Retraso_Llegada', 'Retraso_Salida', 
'Distancia', 'Cancelado', 'Codigo_Cancelacion', 'Retraso_Aerolinea', 'Retraso_Clima', 'Retraso_NAS', 'Retraso_Seguridad', 
'Retraso_Aeronave']]

In [158]:
import numpy as np

# Crear una columna 'Estado_Vuelo', que tome valores 'Codigo_Cancelacion'
vuelos_2005['ID_EstadoVuelo'] = np.where(vuelos_2005['Codigo_Cancelacion'].notnull(), vuelos_2005['Codigo_Cancelacion'], np.where(vuelos_2005['Cancelado'] == 1, 'ND', 'E'))

# Eliminar columna 'Codigo_Cancelacion'
vuelos_2005.drop('Codigo_Cancelacion', axis=1, inplace=True)
vuelos_2005.drop('Cancelado', axis=1, inplace=True)

# Eliminar las columnas de retrasos
vuelos_2005.drop('Retraso_Aerolinea', axis=1, inplace=True)
vuelos_2005.drop('Retraso_NAS', axis=1, inplace=True)
vuelos_2005.drop('Retraso_Seguridad', axis=1, inplace=True)
vuelos_2005.drop('Retraso_Aeronave', axis=1, inplace=True) 
vuelos_2005.drop('Retraso_Clima', axis=1, inplace=True)


# Creando una columna de 'Partida_A_Tiempo', A: 'Retraso_Salida' <= 0, B: 0 < 'Retraso_Salida' <= 15, C: 'Retraso_Salida' > 15, NE: 'Retraso_Salida' = NaN
vuelos_2005['ID_DepTime'] = np.where(vuelos_2005['Retraso_Salida'] <= 0, 'A', np.where(vuelos_2005['Retraso_Salida'] <= 15, 'B', np.where(vuelos_2005['Retraso_Salida'] > 15, 'C', 'ND')))

# Creando una columna de 'Llegada_A_Tiempo', A: 'Retraso_Llegada' <= 0, B: 0 < 'Retraso_Llegada' <= 15, C: 'Retraso_Llegada' > 15, NE: 'Retraso_Llegada' = NaN
vuelos_2005['ID_ArrTime'] = np.where(vuelos_2005['Retraso_Llegada'] <= 0, 'A', np.where(vuelos_2005['Retraso_Llegada'] <= 15, 'B', np.where(vuelos_2005['Retraso_Llegada'] > 15, 'C', 'ND')))

# Eliminar las columnas de retrasos
vuelos_2005.drop('Retraso_Llegada', axis=1, inplace=True)
vuelos_2005.drop('Retraso_Salida', axis=1, inplace=True)

In [159]:
# que valores toma la columna 'ID_EstadoVuelo'
vuelos_2005['ID_EstadoVuelo'].unique()

array(['E', 'ND'], dtype=object)

In [160]:
# que valores toma la columna 'ID_DepTime'
vuelos_2005['ID_DepTime'].unique()

array(['A', 'C', 'B', 'ND'], dtype=object)

In [161]:
# que valores toma la columna 'ID_ArrTime'
vuelos_2005['ID_ArrTime'].unique()

array(['A', 'C', 'B', 'ND'], dtype=object)

In [162]:
vuelos_2005.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Anio               100000 non-null  int64
 1   Mes                100000 non-null  int64
 2   Dia                100000 non-null  int64
 3   Dia_Sem            100000 non-null  int64
 4   ID_Aerolinea       100000 non-null  object
 5   ID_Aeropuerto_O    100000 non-null  object
 6   ID_Aeropuerto_D    100000 non-null  object
 7   Hora_SalidaR       99077 non-null   float64
 8   Hora_SalidaP       100000 non-null  int64
 9   Hora_LlegadaR      98966 non-null   float64
 10  Hora_LlegadaP      100000 non-null  int64
 11  Duracion_Promedio  100000 non-null  int64
 12  Distancia          100000 non-null  int64
 13  ID_EstadoVuelo     100000 non-null  object
 14  ID_DepTime         100000 non-null  object
 15  ID_ArrTime         100000 non-null  object
dtypes: float64(2), int64(8), object(6)
memory usage: 9.9+ MB